$primary-1: var(--primary-1);
$primary-2: var(--primary-2);
$primary-3: var(--primary-3);
$primary-4: var(--primary-4);
$primary-5: var(--primary-5);
$primary-6: var(--primary-6);
$primary-7: var(--primary-7);
$primary-8: var(--primary-8);
$primary-9: var(--primary-9);
$primary-10: var(--primary-10);

$grey-1: var(--grey-1);
$grey-2: var(--grey-2);
$grey-3: var(--grey-3);
$grey-4: var(--grey-4);
$grey-5: var(--grey-5);
$grey-6: var(--grey-6);
$grey-7: var(--grey-7);
$grey-8: var(--grey-8);
$grey-9: var(--grey-9);
$grey-10: var(--grey-10);

$danger: var(--danger-text);
$warning: var(--warning-text);
$success: var(--success-text);
$info: var(--info-text);

$primary: var(--primary-5);

$white: white;
$black: var(--text-black);
$true-black: black;
$off-white: #f8f8f8;
$light-bg: #ebedf9;

$grey: #b3b3b3;

$outline-color: $primary-4;